name: Docker Deploy (Dev/Stg)

on:
  push:
    branches:
      - dev
      - stg

jobs:
  deploy:
    uses: gsc-lab/cs25-1-bannote-infra/.github/workflows/shared-service-deploy.yaml@main
    with:
      service-name: user-service
    secrets: inherit
